{% extends "header.html" %}

{% block content %}
<div class="dashboard">
    <div><h3>Total Posts: <span id="total_posts">{{ total_posts }}</span></h3></div>
    <div><h3>Total Categories: <span id="total_categories">{{ total_categories }}</span></h3></div>
</div>

<div class="FunctionContainer">
    <!-- Category Form -->
    <div class="categoryForm">
        <h2>Add Categories</h2>
        <form method="POST" action="{% url 'firstapp:add_category' %}">
            {% csrf_token %}
            <div>
                <label for="category">Add Category</label>
            </div>
            <div>
                <input type="text" name="name" id="category" required>
            </div>
            <div>
                <input id="CategorySubmit" type="submit" value="Add">
            </div>
        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <!-- Post Form -->
    <div class="postContainer">
        <h2>Create Post</h2>
        <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

    </div>
</div>

<
{% endblock content %}
